html {
    background-image: url("background image/verback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.heading {
    background-color: rgb(0, 88, 55);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: -8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    display: grid;
    grid-template-columns: 7.5% 92.5%;
    font-family: 'Trebuchet MS';
}

#name {
    padding: 10px
}

.navbar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    word-spacing: 100%;
    margin-top: 6px;
    margin-bottom: 30px;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 4;
    box-shadow: -5px 15px 13px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
    margin: -8px;
    overflow: hidden;
    background-color: rgb(0, 88, 55);
}

li {
    float: left;
    transition: 0.2s;
}

li:hover {
    background-color: rgb(9, 150, 98);
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Calibri;
}

h2, h3 {
    font-family: 'Century Gothic';
}

p {
    font-family: Calibri;
}

.introduction {
    background-color: white;
    background-size: cover;
    padding-top: 14%;
    padding-bottom: 4.5%;
    text-align: center;
    font-size: 150%;
    margin-left: -10px;
    margin-right: -10px;
}

.body {
    left: 0;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.fb, .ig, .tiktok {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    padding-top: 20%;
    padding-bottom: 20%;
}

.button {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.button:hover {
    transform: scale(1.03);
}

img {
    border-radius: 50%;
    margin-bottom: 2%;
}

.footer {
    margin: -10px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: white;
}

footer {
    justify-content: space-between;
}

@media screen and (max-width: 1440px) {
    
}